.home-page {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.container .category-top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category-top span {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-style: normal;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
}

.container .category-top a {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-transform: capitalize;
}

.container .category-top a:hover {
  border-bottom: 2px solid #041e42;
}

/*PAGIONATION*/

.container .pagionation-box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagionation-box .pagionation-main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container .pagionation-main img {
  cursor: pointer;
}

.container .pagionation-main .pagionation-dot {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}

.container .pagionation-dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.container .pagionation-dot .dot.active {
  border: 2px solid #112137;
}

.container .pagionation-dot .dot div {
  width: 4px;
  height: 4px;
  background: #112137;
}
.container .hover-border {
  margin-top: 3px;
  width: 32px;
  height: 2px;

  background: #041e42;
}
/*HEAD*/
.heade-frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.header-frame .container {
  flex-direction: row;
}
.heade-frame .container .header-left {
  position: relative;
  padding: 15px;
  width: 875px;
  height: 508px;
  background-color: #0053f6;
  background-image: url("../images/icons/header-bg.png");
  border-radius: 5px;
}

.heade-frame .header-left .header-content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.heade-frame .header-content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f5c34b;
  border-radius: 6px;

  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.heade-frame .header-content span {
  margin-top: 10px;
  width: 428px;

  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;

  color: #ffffff;
}

.heade-frame .header-content p {
  margin-top: 10px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
}

.heade-frame .header-content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(245, 195, 75);
  border-radius: 10px;

  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}

.heade-frame .container .header-right {
  margin-left: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heade-frame .header-right .header-box {
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #f2f2f2;
  border-radius: 5px;
}

.heade-frame .header-right .box-left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heade-frame .box-left span {
  color: rgb(0, 83, 246);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.heade-frame .box-left p {
  margin: 10px 0;
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-style: normal;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
}

.heade-frame .box-left a {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;

  color: #041e42;
}

.heade-frame .header-box .box-right {
  width: 50%;
}

.heade-frame .box-right img {
  width: 100%;
  height: 100%;
}
/* SERVICE FRAME*/
.home-page .service-frame {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.service-frame .container {
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
}

.service-frame .container .service-box {
  width: 25%;
  height: 66px;

  display: flex;
  flex-direction: row;
}

.service-frame .service-box img {
  width: 35px;
  height: 35px;
}

.service-frame .service-box .service-content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.service-frame .service-content span {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.service-frame .service-content p {
  color: rgb(98, 105, 116);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
/*SHOP CATEGORY*/

.shop-category-frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.shop-category-frame .container {
  flex-direction: column;
}

.shop-category-frame .container .category-wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop-category-frame .category-wrapper .category-box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.shop-category-frame .category-box .category-img-box {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;
  border-radius: 150px;
}

.shop-category-frame .category-box span {
  margin-top: 15px;
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
/*SELLING PRODUCTS*/

.selling-product-frame {
  margin-top: 60px;
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling-product-frame .container {
  flex-direction: column;
}

.selling-product-frame .container .product-wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling-product-frame .product-wrapper .next-prev-box {
  width: 25px;
}

.selling-product-frame .next-prev-box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.selling-product-frame .product-wrapper .product-boxses {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.selling-product-frame .product-boxses .product-box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.selling-product-frame .product-box .product-img-box {
  width: 100%;
  height: 280px;
}

.selling-product-frame .product-img-box .hover-box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.selling-product-frame .hover-box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background: #0053f6;
  box-shadow: 0px 5px 20px rgba(0, 83, 246, 0.1);
  border-radius: 6px;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #ffffff;
}

.selling-product-frame .product-img-box:hover .hover-box {
  display: flex;
}

.selling-product-frame .product-box .product-content-box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.selling-product-frame .product-content-box .product-title {
  color: rgb(98, 105, 116);
  font-family: "Jost";
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}

.selling-product-frame .product-content-box .product-desc {
  margin-top: 7px;
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.selling-product-frame .product-content-box .review-box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling-product-frame .review-box img {
  margin-right: 5px;
}

.selling-product-frame .review-box span {
  margin-left: 10px;
  color: rgb(98, 105, 116);
  font-family: "Jost";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.selling-product-frame .product-content-box .price-box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling-product-frame .price-box strong {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.selling-product-frame .price-box span {
  margin-left: 10px;
  color: rgb(98, 105, 116);
  font-family: "Jost";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: line-through;
}

.home-page .adv-frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(0, 83, 246);
  font-family: "Jost";
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  background-color: #e5edff;
}
/*HEADPHONES*/
.home-page .headphones-frame {
  margin-top: 90px;
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headphones-frame .container {
  flex-direction: column;
}

.headphones-frame .container .headphones-wrapper {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}
.headphones-frame .headphones-wrapper .headphone-right-item {
  position: relative;
  padding: 30px;
  width: 664px;
  height: 368px;

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background: rgb(243, 245, 246);
  border-radius: 6px;
}

.headphones-frame .headphone-right-item .right-item-content {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.headphones-frame .right-item-content span {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.headphones-frame .right-item-content p {
  margin: 7px 0;
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-style: normal;
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
}

.headphones-frame .right-item-content a {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.headphones-frame .right-item-img img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
}
.headphones-frame .headphones-wrapper .headphone-left-item {
  position: relative;
  margin-left: 30px;
  width: 620px;
  height: 368px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.headphones-frame .headphone-left-item .left-item-box {
  position: relative;
  padding: 30px;
  width: 293px;
  height: 170px;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background: #f3f5f6;
  border-radius: 6px;
}

.headphones-frame .left-item-box:nth-child(odd) {
  margin-right: 30px;
}

.headphones-frame .left-item-box .item-box-content {
  display: flex;
  flex-direction: column;
}

.headphones-frame .item-box-content strong {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.headphones-frame .item-box-content span {
  color: rgb(98, 105, 116);
  font-family: "Jost";
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

.headphones-frame .left-item-box img {
  position: absolute;
  right: 10%;
  bottom: 15px;
}
